@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: white;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient( 67.2deg,  rgba(37,208,199,1) -7.5%, rgba(165,90,240,1) 62.7% );
    background-size: 400%, 400%;
    animation: bg ease 15s infinite;
    user-select: none;
    background-attachment: fixed;
}

@keyframes bg {
    from {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    to {
        background-position: 0%, 50%;
    }
}